* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
}

header {
    padding: 16px;
    background-color: #ffeb3b;
    color: #000;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body h1 {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container h2 {
    color: #ffeb3b;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.cozinha {
    height: 400px;
    align-items: self-start;
    margin-right: 32px;
}

.sociais img {
    height: 30px;
}

.sociais li {
    display: inline;
    margin-right: 8px;
}

.sociais li a {
    text-decoration: none;
}

.sociais1 img {
    height: 30px;
    margin-top: 12px;
}

.sociais1 li {
    display: inline;
    margin-right: 12px;
}

.sociais1 li a {
    text-decoration: none;
}

section{
    padding: 24px 0;
    color: #fff;
    text-decoration: none;
}

section h2,
section h3 {
    margin-bottom: 16px;
    color: #fff;
}

section p {
    margin-bottom: 8px;
    color: #fff;
}

section .container{
    align-items: self-start;
}

#contact .container{
    display: block;
}

.meios {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-weight: normal;
}

.meios h3,
.meios p {
    color: #ffeb3b;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
} 

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
    color: #000;
}

form button {
    background-color: #ffeb3b;
    color: #000;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #a5960f;
}

input:focus, textarea:focus {
    outline-color: #ffeb3b;
}

footer {
    background-color: #ffeb3b;
    color: #000;
    padding: 16px 0;
}

footer p {
    text-decoration: none;
}

body {
    background-color: #222121;
}

.potato {
    display: inline;
    align-items: flex-start;
    justify-content: space-between;
}
.potato img {
    height: 280px;
    margin-top: 70px;
}

.potato1 img {
    height: 280px;
    margin-top: 50px;
    margin-right: 65px;
}

.potato2 img {
    height: 280px;
    margin-top: 50px;
    margin-left: 95px;
}

.desc h3 {
    color: #ffeb3b;
    margin-top: 70px;
    margin-left: 50px;
    font-size: 25px;
}

.desc p {
    padding: 50px;
    font-size: 18px;
}

.imgh img:hover {
    opacity: 0.7;
}

.imgh h2 {
    color: #ffeb3b;
}
